**.ster
**test.txt
**.lyx~
static_reg_data.dta
panel_reg_data.dta
*.out
*.synctex.gz
*.aux
*.log
*.bbl
*.blg
*.snm
*.toc
*.nav
*.fls
*.fdb_latexmk
*.DS_Store
paths.do
temp
.Rhistory 
kill_repo_history.bat 
